.frontcard-image {
    width: 20rem;
    height: 11rem;
    box-shadow: 4px 10px 10px #2e2e48e3;
}

.frontCard-container {
    background-color: #2c2c6c;
    box-shadow: 4px 10px 10px #2e2e48e3;
    padding: 1rem;
    height: 16rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
}

.frontCard-container:hover {
    background-color: pink;
}

.frontCard-title {
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.frontCard-link {
    text-decoration: none;
    color: #2c2c6c;
    margin-left: 1rem;
    background-color: pink;
    padding: 0.8rem;
    border-radius: 1rem;
    transition: 1s;
    box-shadow: 4px 10px 8px #2e2e48e3;
}

.frontCard-link:hover {
    background-color: #2c2c6c;
    color: pink;
}