*{
    margin: 0cm;
    padding: 0cm;
}

h1 {
    color: #8093F1;
    background-color: #FDC5F5;
    text-align: center;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #8093F1;
    background-color: #FDC5F5;
    text-align: center;
    font-size: 50px;
}

.habilidades {
    background-color: #FDC5F5;
    color: #8093F1;
    width: 164px;
    margin-left: 10px;
    border-radius: 0.25cm;
    padding: 5px;

}

img {
    border-radius: 20%;
    background-color: #FDC5F5;
    padding: 00.5cm;
    margin-left: 200px;
    margin-top: 50px;
    
    
    
}



a {
    background-color: #72DDF7;
    line-height: 30px;
    color: gray;
    padding: 15px 30px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    border-radius: 0.5cm;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all;
    display: flex;
   

}

a:hover {
    color: #FDC5F5;
    background-color: #8093F1;
}

p {
    color: gray;
    background-color: #72DDF7;
    width: 400px;
    height: 100px;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    border-radius: 0.5cm;
    padding: 2px;
    
}

.lista {
    background-color: #72DDF7;
    width: 200px;
    margin-left: 20px;
    border-radius: 0.5cm;
    color: gray;
    padding: 5px;
    
}

.lista2 {
    background-color: #72DDF7;
    width: 400px;
    margin-left: 20px;
    border-radius: 0.5cm;
    color: gray;
    padding: 5px;
}

h3 {
    font-size: 18px;
}

.sobre_mim{
    background-color:#8093F1;
    padding: 25px; 
    
}

.container{
    display: flex;
}

.lista-geral{
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 50px;
    
}