.skills-li {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 5px;
}

.skills-front-end-ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 15rem;
}

.skills-front-end-container {
    background-color: #2E8B57;
    font-size: 1.3rem;
    width: 20rem;
    text-align: center;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    transition: 1s;
    box-shadow: 4px 10px 10px #1e4f3378;
}

.skills-front-end-container:hover {
    background-color: pink;
    padding: 1.5rem;
}

.skills-container {
    background-color: #3CB371;
    text-align: center;
    padding: 2rem;
}

.skills-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}

.skills-title {
    color: pink;
    font-size: 3.5rem;
}