.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f38;
    justify-content: center;
}

.about-hr {
    width: 100vw;
    height: 1rem;
    color: pink;
    background-color: pink;
}

.about-content {
    width: 60%;
    background-color: #2c2c6c;
    text-align: justify;
    color: white;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
    transition: 0.5s;
    box-shadow: 4px 10px 10px #2e2e48e3;
}

.about-content:hover { 
    padding-left: 5rem;
    padding-right: 5rem;

}

.about-title {
    font-size: 1.5rem;
    text-align: center;
    color: Pink;
}

@media screen and (max-width: 505px) { 
    .about-content:hover { 
        padding-left: 4rem;
        padding-right: 4rem;
    
    }
}