.back-container {
    background-color: #1f1f38;
    /* background-color: white; */
    height: 100vh;
    text-align: center;
}

.back-title {
    color: pink;
    font-size: 3.5rem;
}

.back-link {
    background-color: #2c2c6c;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    transition: 1s;
    box-shadow: 4px 10px 10px #2e2e48e3;
  }

.back-link:hover {
    background-color: pink;
    padding: 1.5rem;
}

.back-link-container {
    display: flex;
    justify-content: space-around;
}

.back-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70%;
    background-color: white;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
}