.header-container {
    width: 100vw;
    background-color: #1f1f38;
    height: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    /* position: fixed; */
    /* margin-top: 0; */
}

.header-logo {
    width: 5rem;
}

.header-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.header-link:hover {
    color: pink
}

.header-links-container {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 505px) {
    .header-logo {
        width: 3rem;
    }

    .header-link { 
        font-size: 0.7rem;
    }

    .header-links-container {
        gap: 0.7rem;
    }
}